<li class="resource-item">
    <span class="resource-title">
    {% if resource.url %}
        <a href="{{ resource.url}}">
    {% endif %}

    {% if resource.name %}
        {{ resource.name }}
    {% else if resource.url %}
        {{ resource.url }}
    {% endif %}

    {% if resource.url %}
        </a>
    {% endif %}

    {% if resource.author %}
        by {{ resource.author }}
    {% endif %}
    </span>

    <br />

    <span class="resource-description">{{ resource.description }}</span>

    <br />

    <ul class="tag-box inline">
        {% for tag in resource.tags %}
            <li><a href="/resources/{{ tag }}">{{ tag }}</a></li>
        {% endfor %}
    </ul>
</li>
